.Container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #13161c;  
}

.Wrapper{
    height: 40rem;
    width: 60%;
    display: flex;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
}
.Bg_left{
    background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)),
    url('../img/contato.jpg');
    background-size: cover;
    height: 100%;
    width: 35%;
}

.Bg_right {
    width: 65%;
    padding: 1rem 3rem 3rem 3rem;
    background-color: #eee;
    
}

.Bg_right h1 {
    width: 100%;
    margin-top: 6.5rem;
    text-align: center;
    justify-content: center;
    text-align: center;
    font-size: 2.4rem;
    font-weight: lighter;
}

.Bg_right form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
   
}

.Inputs{
    background-color: transparent;
    border: none;
    width: 20rem;
    font-size: 1.3rem;
    font-family: var(--fontTertiary);
    border-bottom: 2px grey dashed;
    outline: none;
    margin: 2rem 9rem;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
} 
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
.Field_label{
    margin-left:1rem ;
    margin-right: .6rem;
    font-size: 1.2rem;
    color: rgb(238, 234, 234);
}
.button{
    height: 4rem;
    width: 15rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(to right, #13161c, #2d2f33);
    color: white;
    margin-top: 1rem;
    cursor: pointer;
    
}

@media (max-width: 1000px){
    .Wrapper{
        width: 70%;
        position: fixed;
    }

    .Inputs{
        width: 15rem;
    }
}

@media (max-width: 640px){
    .Inputs{
        width: 12rem;
    }
}

@media (max-width: 600px){
    
    .Wrapper{
        width: 100%;
        height: 100%;
        position: fixed;
    }
    .Bg_right{
        width: 100%;
        
    }
    .Bg_right form{
        margin-right: 10rem;
    }
    .Bg_right h1 {
        margin-top: 6rem;
        justify-content: center;
        text-align: center;
    }
    .Inputs{
        width: 20rem;
    }
    @media (max-width: 376px){
        .Wrapper{
            width: 100%;
            height: 100%;
            position: fixed;
        }
        .Bg_right{
            width: 100%;
        }
        .Inputs{
            width: 15rem;
        }
        .button{
            width: 14rem;
        }
    }

}



