.messageConteiner {
    padding: 1rem;
    border-radius: 5px;
    border: black 1px solid;
    top: 1rem;
    left: 1rem;
    height: 4rem;
    width: 20rem;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    position: absolute;
  }
  
  .success {
    background-color: rgb(122, 238, 122);
    color: rgb(6, 56, 6);
  }
  
  .error {
    background-color: rgb(243, 123, 123);
    color: rgb(85, 29, 29);
  }