.Project_container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #13161c;  
}

.Project_header{
  padding: 0;
  color: white ;
  font-weight: bolder;
  text-align: center;
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;;
}

.card_container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -5rem;
  width: 100%;
}

.card{
  height: 30rem;
  width: 20rem;
  margin: 12rem 2rem 6rem 1rem ;
}

.cards_img{
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  object-fit: cover;
}

.cards_img img{
  height: 100%;
  width: 100%;
  
  border-radius: 10px;
  transition: opacity 1s;
}

.card:hover .cards_img img {
  opacity: 0.4;
}
.line{
  background-color: white;
}
.line img{
  border-radius: 50%;

}


.card_info {
  z-index: 100;
  margin-top: -8rem;
  padding: 1rem;
  color: white;
  text-shadow: 1px 2px 3px black;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}

.card:hover .card_info {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}