.Project_container{
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 2rem;
  background-color: rgb(233, 233, 233);
  justify-content: space-evenly;
}
.Project_header{
  display: flex;
  justify-content: center;
  
}
.Project_area{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.projects{
  position: relative;
  height: 30rem;
  width: 20rem;
  margin-top: 7rem;
  margin-bottom: 3rem;
  
  
}

.cards_img{
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.projects img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  opacity: 0.8;
  transition: opacity 1s;
  
}
.projects:hover .imgCard img {
  opacity: 0.4;
}

.project_txt{
  position: absolute;
  bottom: 0;
  padding: 2rem;
  color: white;
  text-shadow: 1px 2px 3px black;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;  
}
.projects:hover .card-info {
  opacity: 1;
  visibility: visible;
}
/* 
.project_txt:hover{
  opacity: 1;
} */