.Container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  min-height: 75%;
  overflow-y: auto;
  
}
.min-height {
  min-height: 75%;
}

.start {
  justify-content: flex-start;
  width: 100%;
  
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}

