@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.img_wrapper{
  display: flex;
  overflow: hidden;
  background-color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img_wrapper img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: zoom 20s;

}

@keyframes zoom {
  0% {
    transform: scale(1.3);
    
  }
  100% {
    transform: scale(1);
    
  }
}

.info{
  display: flex;
  text-align: center;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 25rem;
  justify-content: center;
  padding: 1rem;  
 
} 

.info h1{
  color: white;
  font-size: 4rem;
  font-family: 'Ubuntu', sans-serif; 
  text-shadow: 3px 3px 3px black;
  animation: animaBanner 1s 0.5s forwards;
  opacity: 0;
  
}
.info p {
  color: white;
  margin-top: 16rem;
  z-index: 100;
  position: fixed;
  opacity: 1;
  font-size: 1.8rem;
  font-family: 'Ubuntu', sans-serif; 
  animation: animaBanner 1s 0.5s forwards;
  opacity: 0;
  text-shadow: 1px 2px 3px black;

}


@keyframes animaBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

@media (max-width: 500px){
  
  .info{
    top: 15rem;
   
  }
  .info p {
    
    margin-top: 35rem;
    
  }
}
@media (max-width: 1000px){
  .info{
    top: 15rem;
  }
  .info p {
    
    margin-top: 20rem;
    
  }

}






