*{
  text-decoration: none;
}

.show_bar .Container{ 
  right: 0;
}

.Container{
  position: fixed;  
  height: 100vh;
  width: 20rem;
  background-color: white;
  top: 0;
  right: -20rem;
  transition: 1s;
  
}

nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sideItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}

.itens{
  display: flex;
  margin-top: 5rem;
  font-size: 2rem;
  color: rgb(21, 25, 32);
  transition: 1s;

}

.itens:hover{
  color: rgb(134, 132, 132)
}

.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  
}

.icons a {
  display: flex;
  margin: 2rem;
  font-size: 2.1rem;
  color: rgb(21, 25, 32);
  
  
}
.icons a :hover{
  color: rgb(134, 132, 132);
  transition: 1s;
}

@media (max-width: 430px){
  .Container {
    width: 100vw;
    height: 100vh;
    right: -26rem;
    
  }
  
}