@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  background-color: #efefef;
  height: 100vh;
  overflow-y: hidden;
}

ul {
  display: flex;
}

li {
  margin-left: 1rem;
  text-decoration: none;
  list-style: none;
}
